body {
    display: inline-block;
}

h1 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 10px;
}

h4 {
    text-align: center;
    margin-top: 0;
}

form {
    margin-left: 5%;
    width: 90vw;
    text-align: left;
}

label {
    font-size: 18px;
}

input {
    display: inline-block;
    width: 90vw;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    height: 30px;
}

button {
    text-align: center;
    display: block;
    margin: 0 auto;
}