h1 {
    text-align: center;
    margin-bottom: 10px;
}

h4 {
    text-align: center;
    margin-top: 0;
}

form {
    width: 90vw;
    margin: auto;
}

label {
    font-size: 18px;
}

.meme-info {
    /* display: table;
        text-align: right; */
}

input {
    display: inline-block;
    width: 90vw;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    height: 30px;
}



button {
    text-align: center;
    display: block;
    margin: 0 auto;
}